/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1a1a1a 25%, #2c2c2c 100%); /* Degradado oscuro */
    background-size: cover;
    background-attachment: fixed;
    color: #f4f4f9; /* Texto claro */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Banner de bienvenida */
.banner {
    margin-top: 40px;
    background: linear-gradient(135deg, #1a1a1a 25%, #2c2c2c 100%); /* Degradado oscuro */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
    color: #f4f4f9;
}

.banner h2 {
    font-size: 2rem;
    margin: 0;
}

.banner p {
    margin-top: 10px;
    font-size: 1.1rem;
}

/* Contenedor principal */
.containerIndex {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 30px;
    padding: 40px;
    width: 100%;
    max-width: 1200px;
}

/* Estilos de los enlaces */
.boxSection {
    background-color: rgba(51, 51, 51, 0.9); /* Color oscuro para las tarjetas con transparencia */
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-align: center;
}

.boxSection a {
    text-decoration: none;
    color: #f4f4f9; /* Texto claro */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.boxSection a i {
    font-size: 2.5rem;
    color: #4CAF50; /* Color del ícono */
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.boxSection p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #a2a1a1;
    text-align: center;
}

/* Efecto hover */
.boxSection:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}

.boxSection:hover i {
    color: #81c784; /* Color más claro al hacer hover */
}

