/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1a1a1a 25%, #2c2c2c 100%);
    /* Degradado oscuro */
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

/* Contenedor principal: Flexbox para poner el formulario y la tabla uno al lado del otro */
.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
    gap: 25px;
}

/* Contenedor del formulario (izquierda) */
.form-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 25%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #bbb;
}

input[type="password"],
input[type="text"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 14px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6867bc;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #4d3697;
}

/* Contenedor de la tabla (derecha) */
.table-container {
    width: 58%;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.filtro-container {
    margin-bottom: 15px;
}

.filtro-label {
    display: block;
    font-size: 14px;
    color: #bbb;
    margin-bottom: 5px;
}

.filtro-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 14px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #3a3a3a;
}

thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* Asegura que la tabla sea consistente */
}

tbody {
    display: block;
    /* Permite que tbody pueda desplazarse */
    max-height: 340px;
    /* Limita la altura del cuerpo de la tabla */
    overflow-y: scroll;
    /* Activa el scroll en el cuerpo de la tabla */
}

.table thead th {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #555;
}

.table tbody td {
    padding: 10px;
    border-bottom: 1px solid #555;
    color: #bbb;

}

.table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    max-height: 10px !important;
}

.table tbody tr:nth-child(even) {
    background-color: #2f2f2f;
}

/* Botones */
button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-modificar {
    background-color: #3498db;
}

.btn-modificar:hover {
    background-color: #2980b9;
}

.btn-eliminar {
    background-color: #e74c3c;
}

.btn-eliminar:hover {
    background-color: #c0392b;
}

.btn-imagen {
    display: inline-block;
    padding: 8px 5px;
    border-radius: 5px;
    background-color: #299d39;
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-imagen:hover {
    background-color: #1b6625;
}

.boton {
    border: none;
    border-radius: 5px;
    background-color: #6867bc;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #4d3697;
}

/* Estilos para SweetAlert */
.swal2-icon-warning,
.swal2-icon-success,
.swal2-icon-error,
.swal2-modal {
    position: fixed;
    top: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.table thead th,
.table tbody td {
    min-width: 100px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.table tbody td:hover::after {
    content: attr(title);
    position: absolute;
    left: 0;
    top: 100%;
    white-space: normal;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 300px;
    word-wrap: break-word;
    display: block;
    height: 59px !important;
}

.containerFiltros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}