<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Carrito de Compras</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.producto.nombre}"></td>
                    <td th:text="${item.cantidad}"></td>
                    <td th:text="${item.producto.precio * item.cantidad}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form action="/finalizarCompra" method="post">
            <button type="submit">Finalizar Compra</button>
        </form>
    </div>

</body>
</html>
