<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Estado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/generalStyle.css">
    </head>
    <body>
        <div class="estiloTabla">
        <h1>Estados</h1>
        <div>
            <label for="filtro">Filtrar por ID:</label>
            <input type="text" id="filtro" name="filtro">
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>descripción</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <!-- Esto se trabaja en js -->
            </tbody>
        </table>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/estados.js"></script>
    </body>
</html>
