<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ecommerce Albahaca</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <div class="containerIndex">
        <div class="boxSection">
            <a href="/registrarProducto">Productos</a>
        </div>

        <div class="boxSection">
            <a href="/registrarCategoria">Categorías</a>
        </div>

        <div class="boxSection">
            <a href="/registrarMarca">Marcas</a>
        </div>

        <div class="boxSection">
            <a href="/registrarEstado">Estados</a>
        </div>

        <div class="boxSection">
            <a href="/registrarTipoCuenta">Tipos de Cuenta</a>
        </div>

        <div class="boxSection">
            <a href="/pedidos">Pedidos</a>
        </div>

    </div>

</body>

</html>