<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ecommerce Albahaca</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <div class="containerIndex">
        <div class="boxSection">
            Productos
            <div class="dropdown" id="productosMenu">
                <a href="/productos">Ver Productos</a>
                <a href="/registrarProducto">Registrar Producto</a>
            </div>
        </div>

        <div class="boxSection">
            Categorías
            <div class="dropdown" id="categoriasMenu">
                <a href="/categorias">Ver Categorías</a>
                <a href="/registrarCategoria">Registrar Categoría</a>
            </div>
        </div>

        <div class="boxSection">
            Marcas
            <div class="dropdown" id="marcasMenu">
                <a href="/marcas">Ver Marcas</a>
                <a href="/registrarMarca">Registrar Marca</a>
            </div>
        </div>

        <div class="boxSection">
            Estados
            <div class="dropdown" id="estadosMenu">
                <a href="/estados">Ver Estados</a>
                <a href="/registrarEstado">Registrar Estado</a>
            </div>
        </div>

        <div class="boxSection">
            Tipos de Cuenta
            <div class="dropdown" id="cuentaMenu">
                <a href="/tipoCuentas">Ver Tipos de Cuenta</a>
                <a href="/registrarTipoCuenta">Registrar Tipo de Cuenta</a>
            </div>
        </div>

        <div class="boxSection">
            Pedidos
        </div>
    </div>

</body>

</html>