<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Eccommerce Albahaca</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="/marcas">listar marcas</a>
        <a href="/registrarMarca">registrar marcas</a>
        <a href="/categorias">listar categorias</a>
        <a href="/registrarCategoria">registrar categoria</a>
        <a href="/estados">listar estados</a>
        <a href="/registrarEstado">registrar Estados</a>
        <a href="/productos">listar productos</a>
        <a href="/registrarProducto">registrar producto</a>
        
    </body>
</html>
