<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Marca</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <form id="updateMarca">
            <input type="hidden" id="id" name="id" th:value="${marca.id}" />
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" th:value="${marca.nombre}" />
            <input type="submit" value="Guardar Cambios" />
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/modificar-marca.js"></script>
</body>
</html>
