<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Categoria</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/modificar.css"/>
</head>
<body>
    <div class="contenedor">
        <h2>Modificar Categoria</h2>
        <form id="updateCategoria">
            <input type="hidden" id="id" name="id" th:value="${categoria.id}" />
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" th:value="${categoria.nombre}" pattern="[A-Za-z0-9 .,-_]+" title="Solo se permiten letras, números, puntos y comas." required  />
            <label for="descripcion">Descripcion:</label>
            <input type="text" id="descripcion" name="descripcion" th:value="${categoria.descripcion}" pattern="[A-Za-z0-9 .,-_]+" title="Solo se permiten letras, números, puntos y comas." required />
            <label for="imagen">Imagen:</label>
            <input type="text" id="imagen" name="imagen" th:value="${categoria.imagen}"/>
            <input type="submit" value="Registrar" />
            <input type="submit" value="Guardar Cambios" />
            
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/js/modificar-categoria.js"></script>
</body>
</html>
