<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Producto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <form id="updateProducto">
            <input type="hidden" id="id" name="id" th:value="${producto.id}" />
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" th:value="${producto.nombre}" />
            <label for="descripcion">Descripcion:</label>
            <input type="text" id="descripcion" name="descripcion" th:value="${producto.descripcion}" />
            <label for="descripcion">Precio:</label>
            <input type="text" id="precio" name="precio" th:value="${producto.precio}" />
            <!--<label for="descripcion">Marca:</label>
            <input type="text" id="marca" name="marca" th:value="${producto.marca}" />
            <label for="descripcion">Categoria:</label>
            <input type="text" id="categoria" name="categoria" th:value="${producto.categoria}" />-->
            <input type="submit" value="Guardar Cambios" />
            
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/modificar-producto.js"></script>
</body>
</html>
