<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de TipoCuentas</title>
    <link rel="stylesheet" href="/css/registro-tabla.css" />
</head>
<body>
    <div class="main-container">
        <!-- Sección izquierda: Formulario de registro de TipoCuenta -->
        <div class="form-container">
            <h2>Registrar TipoCuenta</h2>
            <form id="addTipoCuenta">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" />
                <label for="descripcion">Descripción:</label>
                <input type="text" id="descripcion" name="descripcion" />
                <input type="submit" value="Registrar" />
            </form>
        </div>

        <!-- Sección derecha: Tabla de TipoCuentas -->
        <div class="table-container">
            <h1>TipoCuentas</h1>
            <div class="filtro-container">
                <label for="filtro" class="filtro-label">Filtrar por ID:</label>
                <input type="text" class="filtro-input" id="filtro" name="filtro">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se cargarán las TipoCuentas mediante JS -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Script para Axios y para manejar TipoCuentas -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/registrar-tipoCuenta.js"></script>
    <script src="/js/tipoCuentas.js"></script>
</body>
</html>
