<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/registrar-producto.css">
    </head>
    <body>
        <div>
            <h2>Registrar Producto</h2>
            <form id="addProducto">
                
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre"/>
                <label for="nombre">Descripcion:</label>
                <input type="text" id="descripcion" name="descripcion"/>
                <label for="nombre">Precio:</label>
                <input type="text" id="precio" name="precio"/>
                <!--<label for="nombre">Marca:</label>
                <input type="text" id="marca" name="marca"/>
                <label for="nombre">Categoria:</label>
                <input type="text" id="categoria" name="categoria"/>-->
                
                
                <input type="submit" value="Registrar"/>
            </form>
        </div>
        
        <!--Script para poder usar axios-->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!--Llamada al archivo js-->
        <script src="/js/registrar-producto.js"></script>
    </body>
</html>
