<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="/css/registro-tabla.css" />
</head>
<body>
    <button class="boton" style="position: absolute; top: 20px; left: 20px;" onclick="window.location.href='/menu'">Volver</button>

    <div class="main-container">
        <!-- Sección izquierda: Formulario de registro de producto -->
        <div class="form-container">
            <h2>Registrar Producto</h2>
            <form id="addProducto">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" />
                <label for="descripcion">Descripción:</label>
                <input type="text" id="descripcion" name="descripcion" />
                <label for="imagen">Imagen:</label>
                <input type="text" id="imagen" name="imagen" />
                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" />
                <label for="marcas">Elige una marca:</label>
                <select id="marcas" name="marcas">
                    <!-- Cargo los datos desde el JS -->
                </select>
                <label for="categorias">Elige una categoría:</label>
                <select id="categorias" name="categorias">
                    <!-- Cargo los datos desde el JS -->
                </select>
                <input type="submit" value="Registrar" />
            </form>
        </div>

        <!-- Sección derecha: Tabla de productos -->
        <div class="table-container">
            <h1>Productos</h1>
            <div class="filtro-container">
                <label for="filtro" class="filtro-label">Filtrar por ID:</label>
                <input type="text" class="filtro-input" id="filtro" name="filtro">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Precio</th>
                        <th>Marca</th>
                        <th>Categoría</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se cargarán los productos mediante JS -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Script para Axios y para manejar productos -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/registrar-producto.js"></script>
    <script src="/js/productos.js"></script>
</body>
</html>
