<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="/css/registro-tabla.css" />

</head>

<body>
    <button class="boton" style="position: absolute; top: 20px; left: 20px;"
        onclick="window.location.href='/menu'">Volver</button>

    <div class="main-container">
        <!-- Sección izquierda: Formulario de registro de producto -->
        <div class="form-container">
            <h2>Registrar Producto</h2>
            <form id="addProducto">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" pattern="[A-Za-z0-9 .,-_]+"
                    title="Solo se permiten letras, números, puntos y comas." required />
                <label for="descripcion">Descripción:</label>
                <input type="text" id="descripcion" name="descripcion" pattern="[A-Za-z0-9 .,-_]+"
                    title="Solo se permiten letras, números, puntos y comas." required />
                <label for="imagen">Imagen:</label>
                <input type="text" id="imagen" name="imagen" />
                <label for="precio">Precio:</label>
                <input type="text" id="precio" name="precio" pattern="[0-9.,]+"
                    title="Solo se permiten números, puntos y comas." required />
                <label for="marcas">Elige una marca:</label>
                <select id="marcas" name="marcas" required>
                    <!-- Cargo los datos desde el JS -->
                </select>
                <label for="categorias">Elige una categoría:</label>
                <select id="categorias" name="categorias" required>
                    <!-- Cargo los datos desde el JS -->
                </select>
                <label for="stock">Stock</label>
                <input type="text" id="stock" name="stock" pattern="[0-9]+"
                    title="Solo se permiten números" required />
                <input type="submit" value="Registrar" />
            </form>
        </div>

        <!-- Sección derecha: Tabla de productos -->
        <div class="table-container">
            <h1>Productos</h1>
            <div class="containerFiltros">
                <div class="filtro-container">
                    <label for="filtro" class="filtro-label">Filtrar por ID:</label>
                    <input type="text" class="filtro-input" id="filtro" name="filtro">
                </div>
                <div class="filtro-container">
                    <label for="filtroName" class="filtro-label">Filtrar por Nombre:</label>
                    <input type="text" class="filtro-input" id="filtroName" name="filtroName">
                </div>
                <div class="filtro-container">
                    <label for="filtroMarca" class="filtro-label">Filtrar por Marca/Categoría:</label>
                    <input type="text" class="filtro-input" id="filtroMarca" name="filtroMarca">
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Marca</th>
                        <th>Categoría</th>
                        <th>Imagen</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se cargarán los productos mediante JS -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Script para Axios y para manejar productos -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/js/registrar-producto.js"></script>
    <script type="module" src="/js/productos.js"></script>
</body>

</html>