<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registrar Estado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/registrar-modificar.css"/>
    </head>
    <body>
        <div>
            <form id="addEstado" method="post">
                
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre"/>
                
                <label for="nombre">Descripcion</label>
                <input type="text" id="descripcion" name="descripcion"/>

                <input type="submit" value="Registrar"/>
            </form>
        </div>
        
        <!--Script para poder usar axios-->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!--Llamada al archivo js-->
        <script src="/js/registrar-estado.js"></script>
    </body>
</html>