<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Categorías</title>
    <link rel="stylesheet" href="/css/registro-tabla.css" />
</head>
<body>
    <button class="boton" style="position: absolute; top: 20px; left: 20px;" onclick="window.location.href='/'">Volver</button>

    <div class="main-container">
        <!-- Sección izquierda: Formulario de registro de categoría -->
        <div class="form-container">
            <h2>Registrar Categoría</h2>
            <form id="addCategoria">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" />
                <label for="descripcion">Descripción:</label>
                <input type="text" id="descripcion" name="descripcion" />
                <label for="imagen">Imagen:</label>
                <input type="text" id="imagen" name="imagen" />
                <input type="submit" value="Registrar" />
            </form>
        </div>

        <!-- Sección derecha: Tabla de categorías -->
        <div class="table-container">
            <h1>Categorías</h1>
            <div class="filtro-container">
                <label for="filtro" class="filtro-label">Filtrar por ID:</label>
                <input type="text" class="filtro-input" id="filtro" name="filtro">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se cargarán las categorías mediante JS -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Script para Axios y para manejar Categorías -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/registrar-categoria.js"></script>
    <script src="/js/categorias.js"></script>
</body>
</html>
