/* Estilo general para el cuerpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #1a1a1a, #333333); /* Fondo con gradiente oscuro */
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: white;
}

/* Estilo para el contenedor del formulario */
#addMarca {
    background-color: #2c2b2b; /* Fondo del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

/* Estilo para las etiquetas */
label {
    color: #ffffff;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Estilo para los inputs */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo para el botón */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Cambio de color al pasar el ratón por encima del botón */
input[type="submit"]:hover {
    background-color: #45a049;
}
